.product {
  display: flex;
  padding: 20px 10px;
  margin: 15px 15px 30px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #fd7e14;
}
.product-poster {
  flex: 0 0 30%;
}
.product img {
  object-fit: cover;
}
.product-details {
  flex: 1;
}
.product-title {
  font-size: 20px;
  color: #fd7e14;
  font-weight: 500;
}
.product-price {
  font-weight: 600;
}
.btn-regular {
  position: relative;
  backface-visibility: hidden;
}
.btn-regular,
.btn-regular::before,
.btn-regular::after {
  display: inline-block;
  background-color: #fd7e14;
  width: 180px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
  z-index: 1;
}
.btn-regular::before,
.btn-regular::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transition: display 3s;
}
.btn-regular::after {
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
}

.btn-regular:hover::after {
  display: block;
  content: "Buy Now";
  z-index: 10;
}
.btn-regular:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.star {
  color: #fd7e14;
}
.feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.feature-item {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  background-color: #eeeeee;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 2px;
  border-bottom: 1px solid #888888;
}
.feature-item span {
  font-weight: 600;
}
